<%- include('partials/header') -%>

  <h1 class="text-4xl mb-4">Nickname: <%= user.nickname %></h1>

  <% if (user.picture) { %>
    <img class="block py-3" src="<%= user.picture %>" width="100">
  <% } %>
  
  <h1 class="text-4xl mb-4">Email: <%= user.email %></h1>

<%- include('partials/footer') -%>
